# Lissage

In [7]:
from pandas import read_csv

In [8]:
fichier = "Q_33_previous-1950-2022_RR-T-Vent.csv"

In [9]:
data_get = read_csv(fichier, sep = ";")
data_get

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,...,DXI2,QDXI2,HXI2,QHXI2,FXI3S,QFXI3S,DXI3S,QDXI3S,HXI3S,QHXI3S
0,33004001,AMBES,45.041667,-0.608333,5,19571215,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33004001,AMBES,45.041667,-0.608333,5,19571216,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,33004001,AMBES,45.041667,-0.608333,5,19571217,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,33004001,AMBES,45.041667,-0.608333,5,19571218,21.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33004001,AMBES,45.041667,-0.608333,5,19571219,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332318,33554001,YVRAC AERODROME,44.881667,-0.460000,77,19680327,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332319,33554001,YVRAC AERODROME,44.881667,-0.460000,77,19680328,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332320,33554001,YVRAC AERODROME,44.881667,-0.460000,77,19680329,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332321,33554001,YVRAC AERODROME,44.881667,-0.460000,77,19680330,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332322,33554001,YVRAC AERODROME,44.881667,-0.460000,77,19680331,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN