In [3]:
install.packages("readxl")

# Analyse de regretion

Importation des librairie

In [ ]:
library("readxl")

Importation des données

In [6]:
dataSet = read_excel("bdd_regression_voiture.xlsx")

In [ ]:
attach(dataSet)

In [8]:
head(dataSet)

   Numero                Modele  Cylindree   Puissance   Poids   Conso
0       1        Daihatsu Cuore         846          32     650    5.7
1       2  Suzuki Swift 1.0 GLS         993          39     790    5.8
2       3    Fiat Panda Mambo L         899          29     730    6.1
3       4        VW Polo 1.4 60        1390          44     955    6.5
4       5   Opel Corsa 1.2i Eco        1195          33     895    6.8

Création des des variable

Explores les données et prendre les initiative qui vous semblent justifiées.

In [ ]:
salaireMinMax <- c(min(salaire),max(salaire))
boxplot(salaireCadre,main="salaire cadre",ylim=salaireMinMax)

Calculer les moyenne et l'ecartype pour chaque groupe

In [ ]:
tapply(Poid,Group,mean)

In [ ]:
tapply(Poid,Group,sd)

Créer 2 varible indicatrices binaire pour présenter la varible group

In [ ]:
G2 <- as.factor(ifelse(Group==2,1,0))
G3 <- as.factor(ifelse(Group==3,1,0))

Efectuer une regrtion linéaire

In [ ]:
medel <- lm(Poid~factor(group))

In [ ]:
sumary(model)

verification de la repartition du residu normal

In [ ]:
hist(result0$residuals,prob=T)

In [ ]:
curve(dnorm(x,0,var(statutNombre)),l=2,add=T)

In [ ]:
ks.test(result0$residuals,'pnorm',0,var(statutNombre))

on ne compar que paraport au groupe de control

In [ ]:
stepAIC(
  object=model,
  direction='backward'
)

In [ ]:
ols_step_backward_p(
  p_val=0.05,
  detail=TRUE
)

In [ ]:
ols_step_forward_p(
  p_val=0.05,
  detail=TRUE
)